<div th:fragment="page-header" class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 id="titlePage" class="mb-0 font-medium" th:text="${titlePage}">...</h5>
        </div>
        <!-- <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript: void(0)">Other</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">Sample Page</li>
        </ul> -->
    </div>
</div>
