<!-- MI CAMBIO DE PRUEBA -->
<!DOCTYPE html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-base}"
>
    <head> </head>

    <body>
        <div layout:fragment="content" id="content">
            <!-- class="grid grid-cols-12 gap-x-6" -->
            <p>
                ¡Bienvenido
                <span
                    th:text="${currentProfile.userData.firstName + ' ' + currentProfile.userData.surnames}"
                ></span
                >!
            </p>
        </div>
    </body>
</html>
